@import "./base.css";

.hero-section {
  /* background-color: var(--color-ba); */
  color: var(--color-primary);
}

.jess-image img {
  width: 100%;
}

.name {
  line-height: 1.5;
}

.name span {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  color: var(--color-secondary);
}

.hero-section h2 {
  margin: 0;
  font-size: 4rem;
}

.technologies {
  text-align: center;
  background-color: var(--color-main);
  color: var(--color-primary);
}

.technologies-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.technologies h3 {
  margin: 0;
  padding-bottom: 3rem;
}

.technologies-list li {
  padding-right: 30px;
}

.technologies-list .check {
  padding-right: 8px;
}

#projects h2 {
  text-align: center;
}

.project-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.project-block img {
  width: 450px;
  height: 270px;
  border-radius: 20px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  /* background-color: var(--color-secondary); */
  border: 2px solid var(--color-secondary);
  border-radius: 20px;
  z-index: -1;
}

.contact-block {
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

.contact-block h2 {
  margin: 0;
}

.text h4 {
  color: var(--color-secondary);
}

/* About Page Styles */
.about img {
  border-radius: 20px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
}

.about-text p {
  line-height: 1.5;
}
